.img-box {
    float: left;
    margin-left: 40%;
    width: 27%;
}

.big-img {
    float: left;
    height: 300px;
    width: 300px;
}

.img-size {
    float: left;
    margin: 2px 2px 2px 2px;
    height: 71px;
    width: 71px;
}
